body {
	font-family: Georgia, "Times New Roman", Times, serif;
}
html {
	background-color: black;
}
h2 {
	color: white;
}

.movie-list {
	display: flex;
	height: auto;
	width: 100%;
	flex-wrap: wrap;
	margin: 1rem;
}
.movie-container {
	background-color: bisque;
	border: black solid 2px;
	display: flex;
	width: 220px;
	height: 500px;
	flex-direction: column;
	margin: 10px;
}

.movie-container:hover {
	cursor: pointer;
}
.movie-img {
	margin: 10px 5px;
	border: black 2px solid;
}
.movie-title {
	max-width: 100%;
	margin: 10px 5px;
}

.movie-overview {
	max-width: 100%;
	margin: 10px 5px;
	overflow: scroll;
}

.movie-container_similar {
	background-color: rgb(196, 247, 255);
	border: black solid 2px;
	display: flex;
	width: 220px;
	height: 500px;
	flex-direction: column;
	margin: 10px;
}

.movie-display {
	display: flex;
	margin: 5px;
}
